<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <div class="container">
        <a href="/home" class="navbar-link">
            <img src="../../assets/template/img/Blue Modern Free Academy Logo.png" alt="Logo de l'entreprise" height="120" width="120"> <!-- Remplacez path/to/logo.png par le chemin réel de votre logo -->
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/home">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/home" fragment="services">À propos</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/home" fragment="about">Services</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/home" fragment="contact">Contact</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="signin" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Connexion</a> 
                <a href="/signup" class="btn btn-info my-2 my-sm-0 text-uppercase">Inscription</a>
            </form>
        </div>
    </div>
</nav>
