<app-side-bar (toggle)="onSidebarToggle($event)"></app-side-bar>

<div class="main-content" [class.collapsed]="isSidebarCollapsed">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="mb-3">
          <h5 class="card-title">Liste des Formateurs <span class="text-muted fw-normal ms-2">({{formateurCount}})</span></h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
          <div class="ms-3">
            <input type="text" class="form-control" placeholder="Rechercher par nom de formateur" [(ngModel)]="searchTerm" (input)="searchFormateurs()" />
          </div>
          <div>
            <button class="btn btn-primary" (click)="AjoutModel()">
              <i class="bx bx-plus me-1" style="color: white;"></i> Ajouter
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <div class="table-responsive">
            <table class="table project-list-table table-nowrap align-middle table-borderless">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Spécialité</th>
                  <th scope="col">Email</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let formateur of filteredFormateur">
                    <td><img *ngIf="imageMap.has(formateur.id)" [src]="getImageUrl(imageMap.get(formateur.id))"  alt="" class="avatar-sm rounded-circle me-2" /><a href="#" class="text-body">{{ formateur.firstname }} {{ formateur.lastname }}</a></td>
                    <td><span class="badge badge-soft-info mb-0">{{ formateur.speciality }}</span></td>
                    <td>{{ formateur.email }}</td>
                    <td>
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item">
                            <button class="btn btn-link text-primary p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" (click)="editFormateur(formateur)">
                              <i class="bx bx-pencil font-size-18"></i>
                            </button>
                          </li>
                          <li class="list-inline-item">
                            <button class="btn btn-link text-danger p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" (click)="deleteFormateur(formateur)">
                              <i class="bx bx-trash-alt font-size-18"></i>
                            </button>
                          </li>
                          <li class="list-inline-item">
                            <button class="btn btn-link text-info p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Details" (click)="detailsFormateur(formateur)">
                              <i class="bx bx-info-circle font-size-18"></i>
                            </button>
                          </li>
                        </ul>
                      </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal -->
<div class="modal fade" id="ajouModel" tabindex="-1" role="dialog" aria-labelledby="ajouModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ajouModelLabel">Ajouter un Formateur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeEvent()"></button>
        </div>
        <div class="modal-body">
          <div class="container-xl px-4 mt-4">
            <hr class="mt-0 mb-4">
            <div class="row">
              <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                  <div class="card-header">Photo de profil</div>
                  <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" [src]="selectedFile" alt="">
                    <br><input type="file" class="form-control" (change)="onFileSelected($event)"> <br><br>
                  </div>
                </div>
              </div>                        
              <div class="col-xl-8">
                <div class="card mb-4">
                  <div class="card-header">Détails du Compte</div>
                  <div class="card-body">
                    <form [formGroup]="forminput" (ngSubmit)="AjoutEvent()">
                      <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputFirstName">Nom</label>
                          <input class="form-control" formControlName="firstname" id="inputFirstName" type="text" placeholder="Entrez nom">
                          <div *ngIf="forminput.get('firstname')?.touched && forminput.get('firstname')?.invalid" class="text-danger">
                            <div *ngIf="forminput.get('firstname')?.errors?.['required']">Le nom est requis.</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputLastName">Prénom</label>
                          <input class="form-control" formControlName="lastname" id="inputLastName" type="text" placeholder="Entrez prénom">
                          <div *ngIf="forminput.get('lastname')?.touched && forminput.get('lastname')?.invalid" class="text-danger">
                            <div *ngIf="forminput.get('lastname')?.errors?.['required']">Le prénom est requis.</div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="username">Nom d'utilisateur</label>
                        <input class="form-control" formControlName="username" id="username" type="text" placeholder="Entrez nom d'utilisateur">
                        <div *ngIf="forminput.get('username')?.touched && forminput.get('username')?.invalid" class="text-danger">
                          <div *ngIf="forminput.get('username')?.errors?.['required']">Le nom d'utilisateur est requis.</div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="email">Adresse e-mail</label>
                        <input class="form-control" formControlName="email" id="email" type="email" placeholder="Entrez adresse e-mail">
                        <div *ngIf="forminput.get('email')?.touched && forminput.get('email')?.invalid" class="text-danger">
                          <div *ngIf="forminput.get('email')?.errors?.['required']">L'email est requis.</div>
                          <div *ngIf="forminput.get('email')?.errors?.['email']">L'email est invalide.</div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="speciality">Spécialité</label>
                        <input class="form-control" formControlName="speciality" id="speciality" type="text" placeholder="Entrez spécialité">
                        <div *ngIf="forminput.get('speciality')?.touched && forminput.get('speciality')?.invalid" class="text-danger">
                          <div *ngIf="forminput.get('speciality')?.errors?.['required']">La spécialité est requise.</div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="address">Adresse</label>
                        <input class="form-control" formControlName="address" id="address" type="text" placeholder="Entrez adresse">
                        <div *ngIf="forminput.get('address')?.touched && forminput.get('address')?.invalid" class="text-danger">
                          <div *ngIf="forminput.get('address')?.errors?.['required']">L'adresse est requise.</div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="password">Mot de passe</label>
                        <input class="form-control" id="password" formControlName="password" placeholder="Entrez mot de passe">
                        <div *ngIf="forminput.get('password')?.touched && forminput.get('password')?.invalid" class="text-danger">
                          <div *ngIf="forminput.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
                        </div>
                      </div>
                      <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Modifier Modal -->
<div class="modal fade" id="ModifModel" tabindex="-1" role="dialog" aria-labelledby="ModifModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModifModelLabel">Modifier le Formateur</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModif()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-xl px-4 mt-4">
                    <hr class="mt-0 mb-4">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card mb-4 mb-xl-0">
                                <div class="card-header">Photo de profil</div>
                                <div class="card-body text-center">
                                  <img class="img-account-profile rounded-circle mb-2" [src]="selectedFile" alt="">
                                  <br><input type="file" class="form-control" (change)="onFileSelected($event)"> <br><br>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-xl-8">
                            <div class="card mb-4">
                                <div class="card-header">Détails du Compte</div>
                                <div class="card-body">
                                    <form>
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="firstname">Nom</label>
                                                <input class="form-control" id="firstname" type="text" [(ngModel)]="formateurToUpdate.firstname" name="firstname">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="lastname">Prénom</label>
                                                <input class="form-control" id="lastname" type="text" [(ngModel)]="formateurToUpdate.lastname" name="lastname">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="small mb-1" for="username">Nom d'utilisateur</label>
                                          <input class="form-control" id="username" type="text" [(ngModel)]="formateurToUpdate.username" name="username">
                                      </div>
  
                                        <div class="mb-3">
                                            <label class="small mb-1" for="email">Email</label>
                                            <input class="form-control" id="email" type="email" [(ngModel)]="formateurToUpdate.email" name="email">
                                        </div>
  
                                        <div class="mb-3">
                                            <label class="small mb-1" for="speciality">Spécialité</label>
                                            <input class="form-control" id="speciality" type="text" [(ngModel)]="formateurToUpdate.speciality" name="speciality">
                                        </div>

                                        <div class="mb-3">
                                            <label class="small mb-1" for="address">Adresse</label>
                                            <input class="form-control" id="address" type="text" [(ngModel)]="formateurToUpdate.address" name="address">
                                        </div>
  
                                        <div class="mb-3">
                                          <label class="small mb-1" for="password">Mot de passe</label>
                                          <input class="form-control" id="password" type="text" [(ngModel)]="formateurToUpdate.password" name="password">
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modifEvent()">Enregistrer les modifications</button>
                <button type="button" class="btn btn-secondary" (click)="closeModif()">Fermer</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Details -->
<div class="modal fade" id="detailsModel" tabindex="-1" role="dialog" aria-labelledby="detailsModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModelLabel">Détails du Formateur</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeDetails()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-xl px-4 mt-4">
                    <hr class="mt-0 mb-4">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form>
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="detailsFirstName">Nom</label>
                                                <input class="form-control" id="detailsFirstName" type="text" readonly [value]="formateurToShow?.firstname">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="detailsLastName">Prénom</label>
                                                <input class="form-control" id="detailsLastName" type="text" readonly [value]="formateurToShow?.lastname">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="username">Nom d'utilisateur</label>
                                            <input class="form-control" id="username" [value] type="text" [value]="formateurToShow?.username" >
                                        </div>
                                        <div class="mb-3">
                                          <label class="small mb-1" for="speciality">Spécialite</label>
                                          <input class="form-control" id="speciality" [value] type="text" [value]="formateurToShow?.speciality" >
                                      </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="detailsEmailAddress">Adresse e-mail</label>
                                            <input class="form-control" id="detailsEmailAddress" type="email" readonly [value]="formateurToShow?.email">
                                        </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="detailsSpeciality">Adresse e-mail</label>
                                            <input class="form-control" id="detailsSpeciality" type="text" readonly [value]="formateurToShow?.speciality">
                                        </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="detailsAddress">Adresse</label>
                                            <textarea class="form-control" id="detailsAddress" rows="3" readonly>{{ formateurToShow?.address }}</textarea>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDetails()">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Supprimer -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header delete-header"> <!-- Ajoutez la classe ici -->
                <h5 class="modal-title" id="deleteModelLabel">Supprimer un formateur</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeDelete()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer ce formateur ? Cette action est irréversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteEvent()">Supprimer</button>
                <button type="button" class="btn btn-secondary" (click)="closeDelete()">Annuler</button>
            </div>
        </div>
    </div>
</div>
