<app-header></app-header>
<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> Nous nous engageons à offrir
                    le meilleur <span>Formini</span> pour
                    votre entreprise. </h1>
                <p> Formini, centre de formation spécialisé en développement web et mobile. </p>
                <a routerLink="/home" fragment="contact" class="btn-contact">
                    Contactez-nous <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </a>
            </div>
            <div class="col-md-6">
                <div class="card"><img src="../../assets/template/solution/images/banner-img.png" alt="Formation Web et Mobile"></div>
            </div>
        </div>
    </div>
</div><br><br><br><br><br><br><br><br><br>

<div class="container-fluid gtco-feature" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="cover">
                    <div class="card">
                        <svg
                                class="back-bg"
                                width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
                            <defs>
                                <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                    <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                    <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                                </linearGradient>
                            </defs>
                            <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
                                  d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z"/>
                        </svg>
                        <!-- *************-->

                        <svg width="100%" viewBox="0 0 700 500">
                            <clipPath id="clip-path">
                                <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
                            </clipPath>
                            <!-- xlink:href for modern browsers, src for IE8- -->
                            <image clip-path="url(#clip-path)" xlink:href="../../assets/template/solution/images/learn-img.jpg" width="100%"
                                   height="465" class="svg__image"></image>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-5"><br><br><br>
                <h2> Nous sommes une agence
                    digitale créative & experts en marketing </h2>
                <p> Formini propose des formations de pointe en développement web, mobile et marketing digital. Rejoignez-nous pour booster vos compétences ! </p>
                <p>
                    <small>Notre équipe d'experts est là pour vous guider et vous offrir les meilleures formations adaptées à vos besoins professionnels.</small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-features" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"><br><br>

                <h2> Découvrez les services<br/>
                    que nous offrons pour vous </h2>
                <p> Chez Formini, nous vous proposons des formations sur mesure pour développer vos compétences en développement web, mobile, et bien plus encore. </p>
            </div>
            <div class="col-lg-8">
                <svg id="bg-services"
                     width="100%"
                     viewBox="0 0 1000 800">
                    <defs>
                        <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                            <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                            <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                        </linearGradient>
                    </defs>
                    <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                          d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"/>
                </svg>
                <div class="row">
                    <div class="col">
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="../../assets/template/solution/images/web-design.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Design Web</h3>
                                <p class="card-text">Des formations en design web pour vous aider à créer des sites attractifs et performants.</p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="../../assets/template/solution/images/marketing.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Marketing</h3>
                                <p class="card-text">Formations en marketing digital pour maximiser la visibilité de vos projets.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="../../assets/template/solution/images/seo.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">SEO</h3>
                                <p class="card-text">Améliorez le référencement de vos sites web avec nos formations SEO.</p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="../../assets/template/solution/images/graphics-design.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Design Graphique</h3>
                                <p class="card-text">Perfectionnez vos compétences en design graphique avec nos experts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-numbers-block">
    <div class="container">
        <svg width="100%" viewBox="0 0 1600 400">
            <defs>
                <linearGradient id="PSgrad_03" x1="80.279%" x2="0%"  y2="0%">
                    <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />

                </linearGradient>

            </defs>
            <!-- <clipPath id="clip-path3">

                                      </clipPath> -->

            <path fill-rule="evenodd"  fill="url(#PSgrad_03)"
                  d="M98.891,386.002 L1527.942,380.805 C1581.806,380.610 1599.093,335.367 1570.005,284.353 L1480.254,126.948 C1458.704,89.153 1408.314,59.820 1366.025,57.550 L298.504,0.261 C238.784,-2.944 166.619,25.419 138.312,70.265 L16.944,262.546 C-24.214,327.750 12.103,386.317 98.891,386.002 Z"></path>

            <clipPath id="ctm" fill="none">
                <path
                        d="M98.891,386.002 L1527.942,380.805 C1581.806,380.610 1599.093,335.367 1570.005,284.353 L1480.254,126.948 C1458.704,89.153 1408.314,59.820 1366.025,57.550 L298.504,0.261 C238.784,-2.944 166.619,25.419 138.312,70.265 L16.944,262.546 C-24.214,327.750 12.103,386.317 98.891,386.002 Z"></path>
            </clipPath>

            <!-- xlink:href for modern browsers, src for IE8- -->
            <image  clip-path="url(#ctm)" xlink:href="../../assets/template/solution/images/word-map.png" height="800px" width="100%" class="svg__image">

            </image>

        </svg>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">{{ numberOfProjects }}</h5>
                        <p class="card-text">Projets</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">{{ numberOfTrainers }}</h5>
                        <p class="card-text">Formateurs</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">{{ numberOfUsers }}</h5>
                        <p class="card-text">Utilisateurs</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">{{ numberOfFormations }}</h5>
                        <p class="card-text">Formations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  

 



  <footer class="deneb_footer" id="contact" style="margin-left: 100px;">
	<div class="widget_wrapper" style="background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about">
						<div class="widget_title">
							<img src="../../assets/template/img/Blue Modern Free Academy Logo.png" width="180" height="150" class="img-fluid" alt="" style="margin-top: -120px;">
						</div>
                        <p>L’externalisation de la gestion de votre parcours de formation chez Formini vous permettra de vous concentrer uniquement sur l'acquisition de nouvelles compétences et l’atteinte de vos objectifs professionnels.</p>
						<ul class="social" >
							<li><a href="https://www.facebook.com/9antra.tn"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://9antra.tn/#!"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/9antra.tn"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4 style="margin-left: 122px;">Links</h4>
						</div>
						<ul style="margin-left: 120px;">
                            <li><a href="/home">Home</a></li><br>
							<li><a routerLink="/home" fragment="about">Services</a></li><br>
							<li><a routerLink="/home" fragment="services">À propos</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contact Us</h4>
						</div>
						<div class="contact_info">
							<div class="single_info">
								<div class="info">
									<p><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;<a href="tel:+919246147999">+216 58 84 00 64</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="info">
									<p><i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@deneb.com">admin@beecoders.tn</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="info">
									<p><i class="fas fa-map-marker-alt"></i>   &nbsp; &nbsp;125, Parc Technologique El Ghazela
                                        Ariana 2088</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>